

@*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>*@


@*<div id="curve_chart" style="width: 640px; height: 480px"></div>*@





@*<script>

    let sourceItems = [
       ['',1],['',2]
    ]

    let items = []

   

    
</script>*@

@*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/scripts_ext_two/detail_graph.js"></script>*@
