@*@model string*@
@using BlueLight.Main




@{ 
//var address = ViewBag.Address;
}

<h2>Sync @ViewBag.Title</h2>


<div class="form-group">
    @*<p>Sync complete</p>*@
    <p>@ViewBag.Info</p>
    @*<p>Address:</p>*@
    <div class="col-md-10">
        @*<p>@address</p>*@
    </div>
</div>


<br />
<br />


